/*
 * Estilo Geral 
 */
.slider {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.slides {
  height: 100%;
  /**
	 * Prevent blinking issue
	 * Not tested. Experimental.
	 */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
.slide {
  height: 100%;
  float: left;
  clear: none;
}
.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  background-image: url(../img/glide-arrows.png);
  width: 17px;
  height: 28px;
  padding: 0;
}
.slider-arrow--right {
  bottom: 50%;
  right: 30px;
  margin-right: 36px;
  background-position: -17px 0;
}
.slider-arrow--left {
  bottom: 50%;
  left: 30px;
  margin-left: 36px;
  background-position: 0 0;
}
.slider-nav {
  position: absolute;
  bottom: 30px;
}
.slider-nav__item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
}
.slider-nav__item:hover {
  background: #ccc;
}
.slider-nav__item--current {
  background: #ccc;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
body {
  font-family: 'Calibri', 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', 'Open Sans', Arial, sans-serif !important;
  /*font-family: 'Montserrat', sans-serif;*/
  margin-top: 115px;
}
@media (max-height: 480px) {
  body {
    margin-top: 90px !important;
  }
}
.topbar {
  height: 40px;
  background-color: #045d9a;
}
.topbar .container a {
  padding: 10px;
  margin-right: 18px;
  float: right;
  font-size: 14px;
  color: #FFF;
}
@media (max-height: 480px) {
  .topbar .container a {
    padding: 10px 0;
    margin-right: 0;
  }
}
.topbar .container a span {
  margin-right: 10px;
}
header {
  border-radius: 0 !important;
  border-bottom: 1px solid #E5E5E5;
  z-index: 100;
  position: fixed !important;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 115px;
  top: 0;
  margin: 0;
  transition: top 0.2s ease-in-out;
}
@media (max-height: 480px) {
  header {
    height: 90px;
  }
}
header .content .logo {
  display: block;
  background-repeat: no-repeat;
  background-image: url("../img/logoMb1.png");
  height: 57px;
  width: 247px;
  margin: 12px 0;
  float: left;
}
@media (max-height: 480px) {
  header .content .logo {
    background-size: 140px;
    height: 30px;
    width: 150px;
    margin: 10px 0;
  }
}
header .content .navbar-toggle {
  font-size: 30px;
  margin: 22px 0;
  padding: 0;
}
@media (max-height: 480px) {
  header .content .navbar-toggle {
    font-size: 25px;
    margin: 10px 0;
  }
}
header .content nav .current {
  background-color: rgba(238, 238, 238, 0);
}
header .content nav .current a {
  color: #045d9a;
  border-bottom: 5px solid #045d9a;
  padding-bottom: 20px;
}
header .content nav .current a:focus {
  background-color: #FFF;
}
header .content nav ul {
  margin-top: 15px;
}
header .content nav ul li {
  font-size: 15px;
}
header .content nav ul li a {
  color: #757575;
}
@media (max-height: 480px) {
  header .content nav ul li a {
    color: #FFF;
    padding-top: 0;
    border: none;
  }
}
header .content nav ul li a:hover {
  background-color: rgba(238, 238, 238, 0);
  color: #045d9a;
  border-bottom: 5px solid #045d9a;
  padding-bottom: 20px;
}
header .content nav ul li a:hover a {
  color: #045d9a;
  border-bottom: 5px solid #045d9a;
  padding-bottom: 20px;
}
header .content nav ul li a:hover a:focus {
  background-color: #FFF;
}
header .content nav.in {
  background: #FFF;
}
@media (max-height: 480px) {
  header .content nav.in {
    background: #404040;
  }
  header .content nav.in ul {
    margin-bottom: 0;
  }
}
header .content nav.in a {
  border-bottom: 5px solid #FFF;
  padding-bottom: 10px;
}
@media (max-height: 480px) {
  header .content nav.in a {
    border-bottom: 1px solid #2C2C2C;
    box-shadow: 1px 1px #565656;
    color: #FFF;
    padding: 15px;
  }
  header .content nav.in a:hover {
    border-bottom: 1px solid #2C2C2C;
    color: #FFF;
    padding: 15px;
  }
}
.nav-up {
  top: -40px;
}
.wrapper {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.wrapper .slider {
  color: white;
}
@media (max-height: 480px) {
  .wrapper .slider {
    height: 50%;
    min-height: 50%;
  }
}
.wrapper .slider img {
  width: 100%;
}
.wrapper .slider .slide .slide-message {
  position: absolute;
  top: 40%;
  margin-left: 3%;
}
@media (max-height: 480px) {
  .wrapper .slider .slide .slide-message {
    top: 10%;
    margin-left: 1%;
  }
}
.wrapper .slider .slide .slide-message h1 {
  font-size: 450%;
  margin-bottom: 0;
}
@media (max-height: 480px) {
  .wrapper .slider .slide .slide-message h1 {
    font-size: 120%;
  }
}
.wrapper .slider .slide .slide-message p {
  font-size: 200%;
}
@media (max-height: 480px) {
  .wrapper .slider .slide .slide-message p {
    font-size: 110%;
  }
}
.wrapper .slider .slide .slide-message a.btn-slide {
  border: 2px solid #FFF;
  background: none;
  padding: 10px 35px;
  font-size: 20px;
  border-radius: 10px;
  color: #FFF;
}
@media (max-height: 480px) {
  .wrapper .slider .slide .slide-message a.btn-slide {
    padding: 10px 20px;
    font-size: 12px;
  }
}
.wrapper .slider .slide .slide-message a.btn-slide:hover {
  background-color: #FFF;
  color: #00194A;
}
.wrapper .btn-default {
  border: none;
  background: #1088DB;
  border-bottom: 5px solid;
  border-color: #005B99;
  color: #FFF;
  padding: 10px 0;
}
.wrapper .btn-default:hover,
.wrapper .btn-default:active,
.wrapper .btn-default:focus {
  background-color: #1295F0;
  color: #FFF;
  border-color: #005B99;
}
.item-view {
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}
.item-view .container {
  padding-bottom: 60px;
}
.item-view h2 {
  text-align: center;
  color: #00415A;
  font-size: 400%;
  margin-top: 35px;
  margin-bottom: 20px;
}
.item-view h3 {
  margin-bottom: 20px;
  color: #068ae5;
}
.item-view p {
  font-size: 14px;
  text-align: justify;
  color: #878787;
}
#about {
  background-color: white;
}
#about .row {
  margin-bottom: 40px;
  margin-top: 25px;
}
#services {
  background-image: url("../img/servicesBg.jpg");
  height: 100%;
  padding-top: 0;
  -webkit-box-shadow: 0px 0 15px 1px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 0 15px 1px rgba(0, 0, 0, 0.37);
  -ms-box-shadow: 0px 0 15px 1px rgba(0, 0, 0, 0.37);
  -o-box-shadow: 0px 0 15px 1px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0 15px 1px rgba(0, 0, 0, 0.37);
}
#services h2 {
  color: #FFF;
}
#services .service-cover {
  height: 100%;
  width: 100%;
  /*background-color: rgba(2, 67, 109, 0.88);*/
  background-color: rgba(0, 45, 74, 0.74);
  padding-top: 80px;
  padding-bottom: 40px;
}
#services .service-cover .slide,
#services .service-cover .item img {
  height: 90%;
  width: 100%;
}
#services .service-cover .carousel-control {
  width: 5%;
}
#services .service-cover .carousel-control.right,
#services .service-cover .carousel-control.left {
  background: none;
}
#services .service-cover .carousel-caption {
  top: 0;
  left: 0;
  right: 0;
}
#services .service-cover .carousel-indicators {
  position: relative;
  bottom: 0;
}
#services .service-cover .service-link {
  padding: 0;
}
#services .service-cover .service-link h3 {
  color: #FFF;
  font-weight: bold;
  font-size: 40px;
}
#services .service-cover .service-link p {
  color: #FFF;
}
#services .service-cover .service-detail {
  height: 80%;
  padding: 0 40px;
}
#services .service-cover .service-detail h3 {
  color: #CFEBFF;
  font-size: 18px;
}
#services .service-cover .service-detail p {
  color: #FFF;
}
#services .service-cover .service-detail p span {
  font-size: 8px;
}
.products .radio {
  padding: 0;
}
.products .radio img {
  width: 100px;
  margin: 15px auto;
  display: block;
}
.products .radio h3 {
  text-align: center;
  margin: 0;
  color: #656565;
  font-weight: bold;
  font-size: 18px;
}
.products .radio input[type=radio] {
  display: none;
}
.products .product-detail {
  padding: 0 15px;
  margin: 30px 15px;
  border-top: 1px dotted #E8E8E8;
}
@media (min-width: 992px) {
  .products .product-detail {
    width: 420%;
  }
}
.products .product-detail img {
  width: 100px;
  float: left;
  margin-right: 20px;
  margin-top: 25px;
}
.products .product-detail p {
  margin: 15px 0;
}
.products .product-detail .arrow {
  width: 0;
  height: 0;
  border-left: 20px solid rgba(0, 0, 0, 0);
  border-right: 20px solid rgba(0, 0, 0, 0);
  border-top: 25px solid #DEDEDE;
}
@media (min-height: 480px) {
  .products .product-detail .arrow {
    margin-left: 95px;
  }
}
@media (min-width: 992px) {
  .products .product-detail.p1 .arrow {
    margin-left: 80px;
  }
  .products .product-detail.p2 {
    margin-left: -277px;
  }
  .products .product-detail.p2 .arrow {
    margin-left: 370px;
  }
  .products .product-detail.p3 {
    margin-left: -217%;
  }
  .products .product-detail.p3 .arrow {
    margin-left: 670px;
  }
  .products .product-detail.p4 {
    margin-left: -862px;
  }
  .products .product-detail.p4 .arrow {
    margin-left: 960px;
  }
}
#contact {
  background-color: #FFF;
}
.map {
  height: 50%;
  width: 100%;
  margin-top: 50px;
}
.footer {
  height: 60px;
  width: 100%;
  background-color: #045D9A;
  border-top: 2px solid #008EEE;
  font-size: 13px;
  color: #E0F1FF;
  padding-top: 20px;
}
.footer a {
  color: #E0F1FF;
  font-weight: 700;
}
.footer a:hover {
  color: #FFF;
}
.left {
  float: left;
}
.right {
  float: right;
}
.ocultar {
  height: 0;
  visibility: hidden;
  transition: height .7s, visibility .4s;
}
.accordion {
  padding: 5px 25px;
}
.accordion .item {
  width: 100%;
  height: 30px;
  overflow: hidden;
  transition: height ease-in-out 0.3s;
  -o-transition: height ease-in-out 0.3s;
  -moz-transition: height ease-in-out 0.3s;
  -webkit-transition: height ease-in-out 0.3s;
  margin-bottom: 15px;
}
@media (max-height: 480px) {
  .accordion .item {
    height: 50px;
  }
}
.accordion .item p {
  height: 95px;
  padding: 5px;
  border-left: 5px solid #DDEFFF;
  margin: 0;
}
@media (max-height: 480px) {
  .accordion .item p {
    height: auto;
  }
}
.accordion .item a {
  text-decoration: none;
  display: block;
  line-height: 20px;
  padding: 5px;
  color: #5D5D5D;
  font-weight: bold;
  cursor: pointer;
  border-left: 5px solid #84B4DE;
}
@media (max-height: 480px) {
  .accordion .item a {
    font-size: 13px;
    padding-bottom: 25px;
  }
}
.accordion .item a:hover {
  color: #5D5D5D;
  text-decoration: none;
}
.accordion .over {
  height: 125px;
}
@media (max-height: 480px) {
  .accordion .over {
    height: auto;
  }
}
