/*
 * Estilo Geral 
 */
.slider {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.slides {
  height: 100%;
  /**
	 * Prevent blinking issue
	 * Not tested. Experimental.
	 */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
.slide {
  height: 100%;
  float: left;
  clear: none;
}
.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  background-image: url(../img/glide-arrows.png);
  width: 17px;
  height: 28px;
  padding: 0;
}
.slider-arrow--right {
  bottom: 50%;
  right: 30px;
  margin-right: 36px;
  background-position: -17px 0;
}
.slider-arrow--left {
  bottom: 50%;
  left: 30px;
  margin-left: 36px;
  background-position: 0 0;
}
.slider-nav {
  position: absolute;
  bottom: 30px;
}
.slider-nav__item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
}
.slider-nav__item:hover {
  background: #ccc;
}
.slider-nav__item--current {
  background: #ccc;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
body {
  font-family: 'Calibri', 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', 'Open Sans', Arial, sans-serif !important;
}
.topbar {
  height: 40px;
  background-color: #045d9a;
}
.topbar .container a {
  padding: 10px;
  margin-right: 18px;
  float: right;
  font-size: 14px;
  color: #FFF;
}
.topbar .container a span {
  margin-right: 10px;
}
header {
  border-radius: 0 !important;
  border-bottom: 1px solid #E5E5E5;
  z-index: 100;
  position: fixed !important;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 115px;
  top: 0;
  margin: 0;
  transition: top 0.2s ease-in-out;
}
header .content .logo {
  display: block;
  background-repeat: no-repeat;
  background-image: url("../img/logoMb1.png");
  height: 57px;
  width: 247px;
  margin: 12px 0;
  float: left;
}
header .content nav .current {
  background-color: rgba(238, 238, 238, 0);
}
header .content nav .current a {
  color: #045d9a;
  border-bottom: 5px solid #045d9a;
  padding-bottom: 20px;
}
header .content nav .current a:focus {
  background-color: #FFF;
}
header .content nav ul {
  margin-top: 15px;
}
header .content nav ul li {
  font-size: 15px;
}
header .content nav ul li a {
  color: #757575;
}
header .content nav ul li a:hover {
  background-color: rgba(238, 238, 238, 0);
  color: #045d9a;
  border-bottom: 5px solid #045d9a;
  padding-bottom: 20px;
}
header .content nav ul li a:hover a {
  color: #045d9a;
  border-bottom: 5px solid #045d9a;
  padding-bottom: 20px;
}
header .content nav ul li a:hover a:focus {
  background-color: #FFF;
}
.nav-up {
  top: -40px;
}
.wrapper {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.wrapper .slider {
  color: white;
  padding-top: 115px;
}
.wrapper .slider img {
  width: 100%;
}
.wrapper .slider .slide .slide-message {
  position: absolute;
  top: 40%;
  margin-left: 3%;
}
.wrapper .slider .slide .slide-message h1 {
  font-size: 450%;
  margin-bottom: 0;
}
.wrapper .slider .slide .slide-message p {
  font-size: 200%;
}
.wrapper .slider .slide .slide-message a.btn-slide {
  border: 2px solid #FFF;
  background: none;
  padding: 10px 35px;
  font-size: 20px;
  border-radius: 10px;
  color: #FFF;
}
.wrapper .slider .slide .slide-message a.btn-slide:hover {
  background-color: #FFF;
  color: #00194A;
}
.wrapper .btn-default {
  border: none;
  background: #1088DB;
  border-bottom: 5px solid;
  border-color: #005B99;
  color: #FFF;
  padding: 10px 0;
}
.wrapper .btn-default:hover,
.wrapper .btn-default:active,
.wrapper .btn-default:focus {
  background-color: #1295F0;
  color: #FFF;
  border-color: #005B99;
}
.item-view {
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}
.item-view .container {
  padding-bottom: 60px;
}
.item-view h2 {
  text-align: center;
  color: #00415A;
  font-size: 350%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.item-view h3 {
  margin-bottom: 20px;
  color: #045d9a;
}
.item-view p {
  font-size: 18px;
  text-align: justify;
  color: #A4A4A4;
}
#about {
  background-color: white;
}
#services {
  background-image: url("../img/servicesBg.jpg");
  height: 100%;
}
#services h2 {
  color: #FFF;
}
#products {
  background-color: #273E57;
}
#products h2 {
  color: #FFF;
}
#products .product-detail {
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  background-color: #223952;
  box-shadow: 0 5px #1B2F45;
  height: auto;
  position: relative;
}
#products .product-detail img {
  width: 100px;
  float: left;
  margin-right: 20px;
  margin-top: 25px;
}
#products .product-detail h3 {
  color: #FFF;
}
#products .product-detail p {
  color: #F7F7F7;
  margin-bottom: 15px;
}
#contact {
  background-color: #FFF;
}
.map {
  height: 50%;
  width: 100%;
  margin-top: 50px;
}
.footer {
  height: 60px;
  width: 100%;
  background-color: #045D9A;
  border-top: 2px solid #008EEE;
  font-size: 13px;
  color: #E0F1FF;
  padding-top: 20px;
}
.footer a {
  color: #E0F1FF;
  font-weight: 700;
}
.footer a:hover {
  color: #FFF;
}
.left {
  float: left;
}
.right {
  float: right;
}
